
<%= link_to "新規投稿", tasks_new_path %>

<h1>Todoapp</h1>



<% @tasks.each do |task| %>
<li>
<%= link_to "#{task.title}", tasks_show_id_path(task) %><br>

</li>
<%# <h3>詳細</h3> %>
<%# <%= task.detail %>
<%# <br><br>  %>
<% end %>




