  <% if user_signed_in? && @user == current_user %>
    <h1>マイページ詳細</h1>
  <% end %>

  <% @tasks.each do |task| %>
    <%= link_to "#{task.title}", tasks_show_id_path(task) %><br>
  <% end %>

  <%= paginate @tasks %> 